* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Palatino;
}


header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: lightcoral;
}

.navigation a{
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
}

.navigation a:hover {
    background: lightcoral;
    color:papayawhip;
}

.program {
    display: flex;
    margin: 100px 10px;
    height: 300px; /* Or whatever */
}
  
.featured {
    display: flex;
    flex-direction: column;
    width: 400px;  
    height: 250px;
    margin: auto;
    background-color: lightcoral;
}

.featured h2 {
    font-family: Luminari;
    text-align: center;
    color:papayawhip;
}

.featured p{
    margin-left: 10px;
}

.featured img {
    display: flex;
    max-width: 55%;
    margin-left: 90px;
}

p{
    margin-right: 50px;
    margin-left: 50px;
}

@media screen and (max-width: 500px) {
    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 100px 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .navigation a{
        padding: 6px 15px;
        border-radius: 20px;
        margin: 0 30px;
    }
    .program {
      flex-direction: column;
    }
    .feature{ 
        display: flex;
        flex-direction: column;
        height: 300px;
    }
}